@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');
* {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
      -webkit-box-sizing: border-box;
  	 -moz-box-sizing: border-box;
}

html{
	 scroll-behavior: smooth;
}

body {
	 margin: 0;
	 padding: 0;
	 min-height: 100%;
	 width: 100%;
	 background-color: #0e0e0e;
	 overflow: scroll;
	 font-family: 'Outfit', sans-serif;
}

/* NAVBAR
========================= */
.navigation {
	 display: flex;
	 flex-direction: row;
	 align-items: left;
	 margin: auto;
	 padding: 20px 0;
	 justify-content: left;
	 width: 100%;
	 position: fixed;
	 top: 0;
	 left: 0;
	 background-color: #0e0e0e;
	 z-index: 99;
}

.nav_logo {
	 display: flex;
	 flex-direction: row;
	 align-items: left;
	 margin: 0 20px 0 90px;
}
#nav_logo {
	max-width: 40px;
	height: auto;
}

nav {
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
}

.nav_links {
	 display: flex;
	 flex-direction: row;
	 list-style-type: none;
	 align-items: center;
	 position: relative;
}

#nav_a {
	 text-decoration: none;
	 font-family: 'Outfit', sans-serif;
	 font-weight: 700;
	 font-size: 13px;
	 letter-spacing: 1px;
	 color: #f6f6f6;
	 margin: 0 20px;
	 transition: color .2s ease;
}

#nav_a:hover{
     background-image:
  	     url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff4040' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
     background-position: bottom;
     background-repeat: repeat-x;
     background-size: auto 4px;
     padding-bottom: 10px;
     color: #ff4040;
     transition: color .2s ease;
     -webkit-transition: color .2s ease;
     -moz-transition: color .2s ease;
}

/* INDEX HEADER
========================= */
.index_header {
	 display: flex;
	 flex-wrap: wrap;
	 flex-direction: column;
	 justify-content: center;
     align-items: flex-start;
     margin: 150px auto 20px auto;
}

#index_h3 {
	 text-align: left;
	 margin: 40px 0 20px 90px;
	 font-size: 36px;
	 font-family: 'Outfit', sans-serif;
	 font-weight: 600;
	 color: #f6f6f6;
	 letter-spacing: -1px;
	 width: 50%;
}

#index_h4 {
	margin: 0 0 80px 90px;
	font-family: 'Outfit', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #f6f6f6;
	width: 50%;
}

.index_link {
	text-decoration: none;
	color: #f6f6f6;
	transition: color .2s ease;
}
.index_link:hover {
	background-image:
	url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff4040' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
background-position: bottom;
background-repeat: repeat-x;
background-size: auto 4px;
padding-bottom: 10px;
color: #ff4040;
transition: color .2s ease;
-webkit-transition: color .2s ease;
-moz-transition: color .2s ease;
}

/* GALLERY
========================= */

.gallery {
	 display: flex;
	 flex-direction: row;
	 justify-content: space-around;
	 align-items: flex-start;
	 margin: 0 70px;
}

.image {
	 position: relative;
	 width: 100%;
	 padding: 0 20px 40px 20px;
	 cursor: pointer;
}

.img_container{
	position: relative;
	width: 100%;
	margin: auto;
	overflow: hidden;
}

#gallery_img {
	 display: block;
	 width: 100%;
	 height: auto;
}

#gallery_caption {
	 display: flex;
	 flex-direction: row;
	 justify-content: space-around;
	 align-items: flex-start;
	 margin-top: 16px;
	 color: #f6f6f6;
	 letter-spacing: .5px;
	 text-decoration: none;
	 font-family: 'Outfit', sans-serif;
	 font-weight: 400;
	 transition: color .2s ease;
}

#gallery_caption:hover {
     background-image:
  		url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff4040' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
     background-position: bottom;
     background-repeat: repeat-x;
     background-size: auto 4px;
     padding-bottom: 10px;
     color: #ff4040;
     transition: color .2s ease;
     -webkit-transition: color .2s ease;
     -moz-transition: color .2s ease;
}
.img_container #overlay {
	 background: rgba(14,14,14,0.4);
     position: absolute;
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     bottom: 0;
     right: 0;
     opacity: 0;
     -webkit-transition: all .3s ease-in-out 0s;
     -moz-transition: all .3s ease-in-out 0s;
     transition: all .3s ease-in-out 0s;
}

.img_container:hover #overlay{
      opacity: 1;
}

/* CONTACT
========================= */

.contact {
	 display: flex;
	 flex-direction: column;
	 justify-content: space-around;
	 align-items: flex-start;
	 margin: 100px auto 40px auto;
	 text-align: left;
	 max-width: 500px;
}

.about {
	margin-bottom: 50px;
}

#about_h3 {
	 margin: 0 auto 25px auto;
	 font-size: 30px;
	 font-family: 'Outfit', sans-serif;
	 font-weight: 600;
	 color: #ff4040;
	 letter-spacing: -1px;
	 transition: all .3s ease;
}
#about_p {
	 font-size: 16px;
	 font-family: 'Outfit', sans-serif;
	 font-weight: 400;
	 letter-spacing: .5px;
	 color: #f6f6f6;
	 line-height: 20px;
}
#about_p_a {
	 font-family: 'Outfit', sans-serif;
	 font-weight: 400;
	 color: #f6f6f6;
	 text-decoration: none;
	 transition: color .3s ease;
}

#about_p_a:hover {
	 background-image:
  		url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff4040' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
     background-position: bottom;
     background-repeat: repeat-x;
     background-size: auto 4px;
     padding-bottom: 10px;
	 color: #ff4040;
	 transition: color .3s ease;
	 -webkit-transition: color .3s ease;
	 -moz-transition: color .3s ease;
}

.contact_links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

#contact_mail {
	 font-size: 16px;
	 font-family: 'Outfit', sans-serif;
	 font-weight: 400;
	 letter-spacing: .5px;
	 color: #f6f6f6;
	 text-decoration: none;
}

#contact_mail:hover {
	background-image:
  		url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff4040' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
     background-position: bottom;
     background-repeat: repeat-x;
     background-size: auto 4px;
     padding-bottom: 10px;
     color: #ff4040;
     transition: color .2s ease;
     -webkit-transition: color .2s ease;
     -moz-transition: color .2s ease;
}
#contact_svg { 
	 margin: 20px;
	 max-width: 30px;
}

#contact_svg_email {
	 fill: transparent;
	 stroke: #f6f6f6;
	 stroke-width: 8;
	 transition: stroke .2s ease;
}

#contact_svg_email:hover {
	stroke: #ff4040;
	transition: stroke .2s ease;
	-webkit-transition: stroke .2s ease;
	-moz-transition: stroke .2s ease;
}

#contact_svg_icon {
	 fill: #f6f6f6;
	 transition: fill .2s ease;
}

#contact_svg_icon:hover {
	 fill: #ff4040;
	 transition: fill .2s ease;
	 -webkit-transition: fill .2s ease;
	 -moz-transition: fill .2s ease;
}

#contact_svg_ig {
	 fill: transparent;
	 stroke: #f6f6f6;
	 stroke-width: 8;
	 transition: stroke .2s ease;
}

#contact_svg_ig:hover {
	 stroke: #ff4040;
	 transition: stroke .2s ease;
	 -webkit-transition: stroke .2s ease;
	 -moz-transition: stroke .2s ease;
}

/* CONTACT FORM
========================= */
.form {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	width: 30%;
	margin: 0 auto 70px auto;
	border-radius: 10px;
}

#form_header {
	margin: 0 auto 25px auto;
	font-size: 30px;
	font-family: 'Outfit', sans-serif;
	font-weight: 600;
	color: #f6f6f6;
	letter-spacing: -1px;
}

.form_input {
	font-family: 'Outfit', sans-serif;
	font-weight: 400;
	font-size: 16px;
	width: 100%;
	margin: 10px auto;
	padding: 10px 15px;
	border: none;
	color: #0e0e0e;
	background-color: #f6f6f6;
	border-radius: 10px;
}

#form_message {
	font-family: 'Outfit', sans-serif;
	font-weight: 400;
	font-size: 16px;
	width: 100%;
	max-height: 20vh;
	margin: 10px auto;
	padding: 15px;
	border: none;
	color: #0e0e0e;
	background-color: #f6f6f6;
	border-radius: 10px;
}

#form_btn {
	font-family: 'Outfit', sans-serif;
	font-weight: 600;
	font-size: 20px;
	margin: 30px auto 0 auto;
	padding: 10px 24px;
	border: none;
	border-radius: 30px;
	background-color: #ff4040;
	color: #0e0e0e;
	cursor: pointer;
	transition: all .2s linear;
}

#form_btn:hover {
	background-color: #bd2a2a;
	transition: all .2s linear;
}

/* CONTENT GALLERY
========================= */
.content_header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 150px auto 20px auto;
}

#content_title {
	text-align: left;
	margin: 0 auto 20px auto;
	font-size: 36px;
	font-family: 'Outfit', sans-serif;
	font-weight: 600;
	color: #ff4040;
	letter-spacing: -1px;
}

#content_subtitle {
   margin: 0 auto 90px auto;
   font-family: 'Outfit', sans-serif;
   font-weight: 400;
   font-size: 16px;
   color: #f6f6f6;
}
.content_gallery {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 vertical-align: middle;
}

#content_img {
	 max-width: 1000px;
	 margin: 0 auto;
}

#willow_link, #eightball_link {
	 margin: 50px auto;
	 font-size: 16px;
	 font-family: 'Outfit', sans-serif;
	 font-weight: 400;
	 color: #f6f6f6;
	 text-decoration: none;
	 transition: color .2s ease;
}

#willow_link:hover, #eightball_link:hover {
	 background-image:
  		url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff4040' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
     background-position: bottom;
     background-repeat: repeat-x;
     background-size: auto 4px;
     padding-bottom: 10px;
	 color: #ff4040;
	 transition: color .2s ease;
}

.content_gallery_letter1 {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 vertical-align: middle;
	}

#content_img_letter1 {
	 max-width: 1000px;
	 margin: 20px auto;
}

#letter1_h4 {
	 margin: 40px auto 20px auto;
	 font-size: 16px;
	 font-family: 'Outfit', sans-serif;
	 font-weight: 400;
	 letter-spacing: 2px;
 	 color: #ff4040;
 	 transition: all .2s ease;
}

#letter1_p {
	 margin: 0 auto 30px auto;
	 font-size: 16px;
	 font-family: 'Outfit', sans-serif;
	 font-weight: 400;
	 letter-spacing: .5px;
 	 color: #f6f6f6;
 	 text-align: center;
}

/* BACK BUTTON
========================= */

#back_button {
     display: block;
	 font-family: 'Outfit', sans-serif;
	 font-weight: 400;
	 font-size: 16px;
	 text-align: center;
	 text-decoration: none;
	 color: #f6f6f6;
	 margin: 70px auto 250px auto;
	 width: 50%;
	 transition: color .2s ease;
}

#back_button:hover {
	color: #ff4040;
	transition: color .2s ease;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
}

/* GO TO TOP BUTTON
========================= */

#top_btn {
	display: block;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 98;
	outline: none;
	cursor: pointer;
	padding: 4px 12px 8px 12px;
	border: none;
	max-width: 65px;
	opacity: .5;
	transition: opacity .2s ease;
}

#top_btn:hover {
	opacity: 1;
	transition: opacity .2s ease;
}

/* FOOTER
========================= */
#index_footer_h4 {
	display: block;
	justify-content: center;
	font-family: 'Outfit', sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 1px;
	text-align: center;
	color: #ff4040;
	margin: 150px auto 0 auto;
	padding-top: 30px;
	background-color: #050505;
}

.footer_links {
	 display: flex;
	 flex-direction: row;
	 align-items: center;
	 justify-content: center;
	 background: #050505;
	 width: 100%;
	 height: 160px;
	 margin: 0 auto;
}

.footer_svg {
	 margin: 20px;
	 width: 30px;
}

#footer_svg_email {
	 fill: transparent;
	 stroke: #f6f6f6;
	 stroke-width: 8;
	 transition: stroke .2s ease;
}
#footer_svg_email:hover {
	stroke: #ff4040;
	transition: stroke .2s ease;
	-webkit-transition: stroke .2s ease;
	-moz-transition: stroke .2s ease;
}

#footer_svg_be {
	 fill: #f6f6f6;
	 transition: fill .2s ease;
}
#footer_svg_be:hover {
	 fill: #ff4040;
	 transition: fill .2s ease;
	 -webkit-transition: fill .2s ease;
	 -moz-transition: fill .2s ease;
}

#footer_svg_git {
	fill: #f6f6f6;
	transition: fill .2s ease;
}
#footer_svg_git:hover {
	fill: #ff4040;
	transition: fill .2s ease;
	-webkit-transition: fill .2s ease;
	-moz-transition: fill .2s ease;
}
#copyright {
	 display: flex;
	 flex-direction: row;
	 align-items: center;
	 justify-content: center;
	 width: 100%;
	 height: 50px;
	 text-align: center;
	 margin: 0 auto;
	 background: #050505;
	 color: #202020;
	 font-family: 'Outfit', sans-serif;
	 font-weight: 400;
	 font-size: 10px;
	 letter-spacing: 1px;
}

/* MEDIA QUERIES 
========================= */

@media only screen and (max-width: 768px){
    .navigation {
		display: flex;
		flex-wrap: wrap;
		flex: 100%;
		width: 100%;
		height: auto;
		margin: auto;
	}

	.nav_logo {
		margin-left: 20px;
		padding: 0;
	}

	#nav_logo {
		margin: 0;
		padding: 0;
	} 
	.index_header {
	 	 display: flex;
	 	 flex-wrap: wrap;
	 	 flex: 100%;
	 	 width: 100%;
	 	 height: auto;
	 }
	 #index_h3 {
	 	width: 100%;
	 	height: auto;
	 }
	 .gallery {
		 display: flex;
		 flex-wrap: wrap;
		 flex: 100%;
		 flex-basis: 100%;
		 width: 100%;
		 margin-left: auto;
		 margin-right: auto;
	 }

	 .contact {
	 	margin: 50px 40px;
	 }
	 .form {
		width: 50%;
	}

	 #content_img {
	 	 display: flex;
	 	 flex-wrap: wrap;
	 	 flex: 100%;
	 	 flex-basis: 100%;
	 	 width: 100%;
	 	 margin-left: auto;
	 	 margin-right: auto;
	 }

	 #content_img_letter1 {
	 	 display: flex;
	 	 flex-wrap: wrap;
	 	 flex: 100%;
	 	 flex-basis: 100%;
	 	 width: 100%;
	 	 margin-left: auto;
	 	 margin-right: auto;
	 }
}

@media only screen and (max-width: 1024px){
	#nav_logo {
		margin: 10px auto 0 auto;
	}
     .navigation {
		 display: flex;
		 flex-wrap: wrap;
		 flex: 100%;
		 width: 100%;
		 height: auto;
	}

	#nav_links {
		 margin: 0 auto;
	}
	 .index_header {
	 	 display: flex;
	 	 flex-wrap: wrap;
	 	 flex: 100%;
	 	 width: 100%;
	 	 height: auto;
	 }

	 #index_h3 {
	 	width: 100%;
	 	height: auto;
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
	 }
	 #index_h4 {
		margin: 0 0 80px 20px;
	 }
     .gallery {
	   	 display: flex;
		 flex-wrap: wrap;
		 flex: 100%;
		 flex-basis: 100%;
		 width: 100%;
		 margin-left: auto;
		 margin-right: auto;
	 }

	 .contact {
	 	margin: 50px 40px;
	 }
	 .form {
		 width: 50%;
	 }

	 #content_img {
	 	 display: flex;
	 	 flex-wrap: wrap;
	 	 flex: 100%;
	 	 flex-basis: 100%;
	 	 width: 100%;
	 	 margin-left: auto;
	 	 margin-right: auto;
	 }

	  #content_img_letter1 {
	 	 display: flex;
	 	 flex-wrap: wrap;
	 	 flex: 100%;
	 	 flex-basis: 100%;
	 	 width: 100%;
	 	 margin-left: auto;
	 	 margin-right: auto;
	 }
}
